<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.css"  rel="stylesheet" />

    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <title>Title</title>
</head>
<body>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a new product</h2>
        <form action="/alumnos"  method="post" th:object="${datosAlumno}">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"  >Nombre</label>
                    <input type="text" name="name" id="name" th:field="*{nombre}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type product name" required="">
                </div>
                <div class="w-full">
                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
                    <input type="text" name="brand" id="brand"  th:field="*{apellido}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Product brand" required="">
                </div>
                <div class="w-full">
                    <label for="genero" th:field="*{genero}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Género</label>
                    <div class="flex items-center mb-4">
                        <input id="masculino-radio" type="radio" value="masculino" name="genero" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="masculino-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Masculino</label>
                    </div>
                    <div class="flex items-center">
                        <input id="femenino-radio" type="radio" value="femenino" name="genero" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="femenino-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Femenino</label>
                    </div>
                </div>
                <div>
                    <label for="idGrado" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Grado Id</label>
                    <select name="idGrado" class="form-select" aria-label="Default select example" id="idGrado">
                        <option th:each="grado : ${grados}" th:value="${grado.id}" th:text="${grado.nombre}"></option>
                    </select>
                </div>
                <div>
                    <label for="item-weight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de nacimiento</label>
                    <input type="date" name="item-weight" id="item-weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="12" required="">
                </div>
            </div>
            <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-black bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Guardar Alumno
            </button>
        </form>
    </div>
</section>



    <H1>Grados disponibles</H1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Profesor</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <!-- Itera sobre la lista de alumnos y muestra la información -->
        <tr th:each="grado : ${grados}">
            <td th:text="${grado.id}"></td>
            <td th:text="${grado.nombre}"></td>
            <td th:text="${grado.profesor.nombre}"></td>
            <td><a th:href="@{'/eliminar-alumno?id=' + ${grado.id}}">Eliminar</a></td>
        </tr>
        </tbody>
    </table>


    <br>
    <H1>Alumnos</H1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Genero</th>
            <th>Fecha de nacimiento</th>
            <th>Grado</th>
            <th>Seccion</th>
            <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        <!-- Itera sobre la lista de alumnos y muestra la información -->
        <tr th:each="alumno : ${alumnos}">
            <td th:text="${alumno.alumno.id}"></td>
            <td th:text="${alumno.alumno.nombre}"></td>
            <td th:text="${alumno.alumno.apellido}"></td>
            <td th:text="${alumno.alumno.genero}"></td>
            <td th:text="${alumno.alumno.fechaDeNacimiento}"></td>
            <td th:text="${alumno.grado.nombre}"></td>
            <td th:text="${alumno.seccion}"></td>
            <td><a th:href="@{'/eliminar-alumno?id=' + ${alumno.alumno.id}}">Eliminar</a></td>
        </tr>
        </tbody>
    </table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.1.1/flowbite.min.js"></script>

<script src="../path/to/flowbite/dist/flowbite.min.js"></script>
</body>
</html>